.projectList {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #ff6f69;
}

.projectList-texts {
  width: 65%;
}

.projectList-title {
    font-size: 50px;
    font-weight: 600;
}

.projectList-desc {
    margin: 20px 0px;
}

.projectList-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
   .projectList {
       padding: 10px;
   }

   .projectList-texts {
       width: 100%;
   }
  }
