.about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-left {
  flex: 1;
}

.about-right {
  flex: 1;
}
.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
