.intro {
  display: flex;
  height: 100vh;
}

.intro-left {
  flex: 1;
}

.intro-right {
  flex: 1;
}

.intro-left-wrapper {
    padding: 50px;
}
.intro-intro {
    font-size: 30px;
    font-weight: 300;
}